.baner {
    background-image: url(../images/bg.jpg);
    margin-bottom: 30px;
    background-repeat: repeat-x;
    //  background-color: red;
    }

.imguraper {
    // display: block;
    // height: 15rem; 
    margin: auto;
     width: 70%;
    max-width: 80%;
    // background-color: green;
    }
    

.baner img {
    width: 100%;
    max-width: 100%;
    height: 15rem; 
    // border: 3px solid red;
    }



