footer {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
    width: 100%;
    min-height: 180px;
    display: flex;
    }

.back-img {
    background-repeat: repeat-x;
    position: cover;
    max-width: 100%;
    width: 960px;
    margin: auto;
    display: flex;
    // background-color: rgb(174, 174, 174);
    }

    .addrees {
        background-image: url(../images/line.png);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        width: 50%;
        // height: 70px;
        // margin-left: 20px;
        // margin-top: 120px;
        }

  .addrees p {
        line-height: 25px;
        margin: 13px 0 13px 20px;
        font-weight: bold;
        font-size: 12px;
        font-family: sans-serif;
        // // text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgba(68, 0, 255, 0.775);

        }

.coppy-right {
    line-height: 70px;
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 100px;
    // height:70px;;
    // margin-top: 120px;
    }

    
 @media (max-width: 649px) {

     .addrees {
        background-image: url(../images/line.png);
        background-blend-mode: multiply;
        background-repeat: repeat-x;
        width: 100%;
        max-width: 100%;
        font-size: 4rem;
        // background-color: red;
        // height: 70px;
        // margin-left: 20px;
        // margin-top: 120px;
        }

     .coppy-right {
    line-height: 10px;
    font-size: 9px;
    font-family: sans-serif;
    height: 7px;;
    // margin-top: 120px;
    margin: 30px 0 0 10px;
    }
     

    }