.main-container {
    width: 100%;
    max-width: 100%;
    // margin: auto;
    background-color: #FFFEFE;
    }   

    
// @media (max-width: 1176px) {
//     .social-media {
//         width: 100%;
//         max-width: 100%;
//         // max-width: 960px;
//         display: flex;
//         padding: 22px 0px 8px 1119px;
//         // background-color: rgb(34, 34, 130);
//          }
//     .social-media img {
//         width: 20px;
//         margin-right: 10px;
//         }
//     }