.main-header {
    background: linear-gradient(to right, #c4bbbb5b, #4644447c, #c4bbbb5b, #c4bbbb5b, #4644447c, #4644447c);
    display: flex;
    flex-wrap: wrap;
    }

@media (max-width: 1000px) {
    .main-header {
        padding: 0 12px;
        }
    }

.social-media {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 22px 0px 8px 0;
    }

.social-media img {
    // background-color: red;
    width: 20px;
    margin-right: 10px;
    }








